connection:
    cloud_provider_name: "ec2_us_east"
    access_id: ENTER-ACCESS-ID-HERE
    secret_key: ENTER-SECRET-KEY-HERE
#
networking:
#    int_network:
#        create_if_missing: true
#        name: cloudify-admin-network
#        cidr: 10.0.0.0/16
#    subnet:
#        create_if_missing: true
#        name: cloudify-admin-network-subnet
#        cidr: 10.0.0.0/24
#        availability_zone: us-east-1c
#    ext_network:
#        create_if_missing: false # For now, this must be 'create_if_missing': false
#        name: Ext-Net
#    router:
#        create_if_missing: true
#        name: cloudify-router
    agents_security_group:
        create_if_missing: true
        name: cloudify-sg-agents
    management_security_group:
        create_if_missing: true
        name: cloudify-sg-management
        cidr: 0.0.0.0/0

compute:
    management_server:
        floating_ip:
            create_if_missing: true
#            ip: ENTER-PUBLIC-IP-HERE
        user_on_management: ubuntu
        userhome_on_management: /home/ubuntu
        instance:
            create_if_missing: true
            name: cloudify-management-server
            image: "ami-fa7dba92"
            size: "m1.medium"
        management_keypair:
            create_if_missing: true
            name: cloudify-management-kp
            private_key_path: ~/.ssh/cloudify-management-kp.pem
    agent_servers:
        agents_keypair:
            create_if_missing: true
            name: cloudify-agents-kp
            private_key_path: ~/.ssh/cloudify-agents-kp.pem

#cloudify:
#    server:
#        packages:
#            components_package_url: http://gigaspaces-repository-eu.s3.amazonaws.com/org/cloudify3/3.2.0/m1-RELEASE/cloudify-components_3.2.0-m1-b170_amd64.deb
#            core_package_url: http://gigaspaces-repository-eu.s3.amazonaws.com/org/cloudify3/3.2.0/m1-RELEASE/cloudify-core_3.2.0-m1-b170_amd64.deb
#            ui_package_url: http://gigaspaces-repository-eu.s3.amazonaws.com/org/cloudify3/3.2.0/m1-RELEASE/cloudify-ui_3.2.0-m1-b170_amd64.deb
#    agents:
#        packages:
#            ubuntu_agent_url: http://gigaspaces-repository-eu.s3.amazonaws.com/org/cloudify3/3.2.0/m1-RELEASE/cloudify-ubuntu-agent_3.2.0-m1-b170_amd64.deb
#            centos_agent_url: http://gigaspaces-repository-eu.s3.amazonaws.com/org/cloudify3/3.2.0/m1-RELEASE/cloudify-centos-final-agent_3.2.0-m1-b170_amd64.deb
#            windows_agent_url: http://gigaspaces-repository-eu.s3.amazonaws.com/org/cloudify3/3.2.0/m1-RELEASE/cloudify-windows-agent_3.2.0-m1-b170_amd64.deb
#        config:
#            min_workers: 2
#            max_workers: 5
#            remote_execution_port: 22
#            #user: (no default - optional parameter)
#    workflows:
#        task_retries: -1  # -1 means we retry forever
#        retry_interval: 30
#
#    bootstrap:
#        ssh:
#            initial_connectivity_retries: 20
#            initial_connectivity_retries_interval: 15
#            command_retries: 3
#            retries_interval: 15
#            connection_attempts: 20
#            socket_timeout: 10
